<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elden Compendium: Incantations</title>
</head>
<body>
    <h1> BY GOD AND ANIME </h1>
    <nav>
        <h3> <a href="/elden">Home</a>
        <a href="/incantations/new">Add an Entry!</a> </h3>
    </nav>
    <ul>
        <% for (let i = 0; i < cant.length; i++) { %>
            <li>
                <a href='/incantations/<%=cant[i].id %> '>
                    <h3><%=cant[i].name;%></a></h3>
                    <h4>Found: <%=cant[i].found; %> </h4>
                <form action='/incantations/<%=cant[i].id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete Entry'/>
                </form>
                <a href="/incantations/<%=cant[i].id %>/edit">Edit Entry</a> <br> <br>
            </li>
        <% } %>
    </ul>
</body>
</html>