<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./wepdex.css">
    <title>Elden Compendium: Weapons</title>
</head>
<body>
    <h1> WEBBUNS </h1>
    <nav>
        <h3><a href="/elden">Home</a>
        <a href="/weapons/new">Add an Entry!</a> </h3>
    </nav>
    <ul>
        <% for (let i = 0; i < weps.length; i++) { %>
            <li>
                <a href='/weapons/<%=weps[i].id %> '>
                    <h3><%=weps[i].name;%></a></h3>
                    <h4>Found: <%=weps[i].found;%> </h4>
                <form action='/weapons/<%=weps[i].id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete Entry'/>
                </form>
                <div class="edit"> <a href="/weapons/<%=weps[i].id %>/edit">Edit Entry</a> </div> <br> <br>
            </li>
        <% } %>
    </ul>
</body>
</html>