<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elden Compendium: Weapons</title>
</head>
<body>
    <h1> WEBBUNS </h1>
    <nav>
        <a href="/elden">Home</a> <br> <br>
        <a href="/weapons/new">Add an Entry!</a>
    </nav>
    <ul>
        <% for (let i = 0; i < weps.length; i++) { %>
            <li>
                The <a href='/weps/<%=weps[i].id %> '>
                    <%=weps[i].name; %>
                </a> <%=weps[i].found; %> <br>
                <%=weps[i].type; %> <br>
                <%=weps[i].reqs; %> <br>
                <%=weps[i].scaling; %> <br>
                <%=weps[i].endScaling; %> <br>
                <%=weps[i].dmgtypes; %> <br>
                <%=weps[i].extra; %> <br>
                <% if(weps[i].somber === true){ %> 
                    Somber
                <% } else { %>
                    Standard
                <% } %> <br>
                <form action='/weapons/<%=weps[i].id %>?_method=DELETE' method='POST'>
                    <input type='submit' value='Delete Entry'/>
                </form>
            <% } %>
        </ul>
</body>
</html>